@model SehirOtomasyonuMvc.Models.Sehir
@{
    ViewBag.Title = "Duzenle";
}

<h2>Şehir Bilgileri Düzenleme İşlemi</h2>

@using (Html.BeginForm("Duzenle", "Sehir", FormMethod.Post))
{
    @Html.HiddenFor(s => s.SehirId)
    <div class="form-group">
        @Html.LabelFor(s => s.SehirAd)
        @Html.TextBoxFor(s => s.SehirAd, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(s => s.TarihiEser)
        @Html.TextBoxFor(s => s.TarihiEser, new { @class = "form-control" })
    </div>

    <input type="submit" name="btnKaydet" value="Kaydet" class="btn btn-success" />
}

